<header class="mb-6">
  <nav class="bg-slate-900 p-4 text-white flex justify-between">
    <a class="logo text-2xl font-semibold" routerLink="/tickets">Judy.Legal</a>
    <div>
      <a routerLink="/tickets" routerLinkActive="font-bold text-sky-700" class="mr-4 hover:underline">Ticket List</a>
      <a routerLink="/create-ticket" routerLinkActive="font-bold text-sky-700" class="hover:underline">Create Ticket</a>
    </div>
  </nav>
</header>
<div class="md:container md:mx-auto p-4">
  <router-outlet></router-outlet>
</div>
